
.navbar {
    background: #00B5CB;
}
.navbar .nav-link {
    color: white !important;
    text-transform: uppercase !important;
}
#mainPage {
	padding: 50px 0 50px 0;
	color: white;
	text-align: center;
}
#mainPage h1 {
	text-transform: capitalize;
}
.btn-info {
    color: #fff !important;
}
.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.dash-box {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 50px;
    text-align: center;
    margin: 60px 0 50px;
}
.mainfooter {
    background: #00b5cb;
    color: white;
    padding-top: 15px;
}
.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 50px 20px;
}
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
	font-size:22px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > a {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: black !important;
    transition: 0.3s;
}
.dash-box-action > a:hover {
	box-shadow: 0 3px 5px #d4d4d4;
	cursor: pointer;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.81);
}

.dash-box.dash-box-color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box.dash-box-color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}

.dash-box.dash-box-color-4 {
    background: #c5deea; /* Old browsers */
background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 7%, #8abbd7 21%, #066dab 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 7%,#8abbd7 21%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #97d4f1 0%,#8abbd7 7%,#8abbd7 21%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
}
.dash-box-color-4 .dash-box-icon:after {
    background: #8abbd7;
}
.dash-box-color-4 .dash-box-icon:before {
    background: rgba(197, 222, 234, 0.64);
}
.dash-box-color-4 .dash-box-icon > i {
    background: #066dab;
}

.dash-box.dash-box-color-5 {
    background: #c9eac5; /* Old browsers */
    background: -moz-linear-gradient(top #a3f19a 0%,#8ad7a9 7%,#8ad79e 21%,#06ab42 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a3f19a 0%,#8ad7a9 7%,#8ad79e 21%,#06ab42 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a3f19a 0%,#8ad7a9 7%,#8ad79e 21%,#06ab42 100%);
}
.dash-box-color-5 .dash-box-icon:after {
    background: #c9eac5;
}
.dash-box-color-5 .dash-box-icon:before {
    background: rgba(197, 222, 234, 0.64);
}
.dash-box-color-5 .dash-box-icon > i {
    background: #06ab42;
}

.active {
	background: #00B5CB !important;
	border-color: #00B5CB !important;
}

.adminBtn {
	background: #00B5CB;
	border-color: #00B5CB;
    transition: 0.1s;
}
.adminBtn:hover {
	background: #008ACB;
	border-color: #008ACB;
}

.usersWalaTb {
    border: 1px solid lightgray;
    border-radius: 5px;
}
.usersWalaTb .btn {
    color: white;
}
.usersWalaTb .mkad {
    width: 130px;
}
.usersWalaTb thead {
    background: #232931;
    color: white;
}

.loader {
    text-align: center;
    margin-top: 20%;
}

#category .list-group b{
    position: relative;
    top: 5px;
    font-size: 18px;
}

#addProduct .sizes {
    text-align: center;
    width: 23%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.0);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,0);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,0);
}
@media only screen and (max-width: 768px) {
  #app .col-md-9 {
    text-align: center !important;
  }
}